{% extends 'TaskApp/base.html' %}
{% block content %}
    <br>
    <br><br>
    {% if request.user.is_staff%}
    <div class="container my_title">
        <h2 class="my_title">&nbsp;&nbsp;&nbsp;&nbsp; Welcome, <span style="color: blue;">{{request.user.username|title}}...</span></h2>
    </div>
    {%endif%}
    <br><br>
    
    
        
    <br>
    <center>    
        <a href="{% url 'TaskApp:sp-create'%}" class="btn btn-primary btn-lg"> CREATE SERVICE PROVIDER ACCOUNT</a>
        
    </center><br>
    <center>
        <a href="{% url 'TaskApp:client-create'%}" class="btn btn-warning btn-lg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CREATE CLIENT ACCOUNT &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
       
    </center><br>
{% endblock  %}
